<div class="row">
	<div class="">
		<h2 id="welcome" class="text-center">Anna salainen avain</h2>
	</div>
</div>

<br />

<div class="row">
	<div class="col-sm">
		<input class="btn-block form-control" placeholder="Salainen avain" ng-model="secret">
    </div>
</div>

<br />

<div class="row">
	<div class="col-sm">
		<button class="btn btn-lg btn-block btn-success" ng-click="checkSecretKey()">
			Jatka
		</button>
	</div>
</div>

<div class="row" ng-if="secretNotCorrectVisible">
	<div class="col-sm">
		<br />

		<div class="alert alert-danger" role="alert" >
			Väärä salainen avain. Yritä uudestaan...
		</div>
	</div>
</div>

<style>
	#welcome {
		width: 100%;

		text-align: center;

		font-size: 42px;
	}

	.input-field input, .input-field label {
		color: #333;
	}

	button {
		width: 100%;
	}

	body {
		padding-top: 50px;
		background-color: #607d8b;
	}
</style>