<div class="row">
	<div class="col s12 m8 offset-m2">
		<h2 id="welcome">Tervetuloa</h2>

		<p id="introduction">
			Kertokaa toki itsestänne jotakin ennen kuin aloitetaan
		</p>
	</div>
</div>

<div class="row">
	<div class="input-field col s12 m8 offset-m2">
		<input type="text">
		<label for="name">Ryhmänne nimi</label>
    </div>
</div>

<style>
	#welcome {
		width: 100%;

		text-align: center;

		font-family: adventure;

		font-size: 69px;
	}

	#introduction {
		font-family: adventure;

		text-align: center;

		width: 100%;

		font-size: 21px;
	}

	.input-field input, .input-field label {
		font-family: adventure !important;
	}

	body {
		background-color: #e40f3b;
	}
</style>